[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
jupyter = "*"
gitpython = "*"

[requires]
python_version = "3.6"
